@import 'scss/reset';
@import 'scss/vars';
@import 'scss/base';
@import 'scss/mixins';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p{
    margin: 0;
}
